# Build output
/build/
/app/build/
/**/build/

# Android Studio / IntelliJ
/.idea/
/*.iml

# Gradle
/.gradle/
local.properties

# NDK / CMake
/.cxx/
/.externalNativeBuild/

# Logs & misc
*.log
*.keystore
*.jks

# APK / AAB artifacts (if you export locally)
/*.apk
/*.aab
/app/release/
/app/debug/